@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
		--background: 0 0% 98%;
		--foreground: 243 14% 29%;
		--muted: 0 12% 90%;
		--muted-foreground: 0 12% 30%;
		--popover: 0 0% 95%;
		--popover-foreground: 243 14% 19%;
		--card: 0 0% 96%;
		--card-foreground: 243 14% 24%;
		--border: 0 0% 93%;
		--input: 0 0% 90%;
		--primary: 243 14% 29%;
		--primary-foreground: 243 14% 89%;
		--secondary: 243 4% 75%;
		--secondary-foreground: 243 4% 15%;
		--accent: 0 0% 83%;
		--accent-foreground: 0 0% 23%;
		--destructive: 8 94% 20%;
		--destructive-foreground: 8 94% 80%;
		--ring: 243 14% 29%;
		--radius: 0.5rem;
	  }
  
	.dark {
		--background: 220 13% 18%;
		--foreground: 219 14% 71%;
		--muted: 220 12% 22%;
		--muted-foreground: 220 12% 72%;
		--popover: 220 13% 15%;
		--popover-foreground: 219 14% 81%;
		--card: 220 13% 16%;
		--card-foreground: 219 14% 76%;
		--border: 220 3% 23%;
		--input: 220 3% 26%;
		--primary: 220 15% 81%;
		--primary-foreground: 220 15% 21%;
		--secondary: 220 5% 25%;
		--secondary-foreground: 220 5% 85%;
		--accent: 220 13% 33%;
		--accent-foreground: 220 13% 93%;
		--destructive: 3 84% 47%;
		--destructive-foreground: 0 0% 100%;
		--ring: 220 15% 81%;
	}
  }
  

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
